.loading-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
}
.loading-wrapper p {
     color: var(--primary);
     font-size: 20px;
     font-weight: 700;
}
.blocks {
     border: 2px solid var(--primary);
     max-width: 158px;
     padding: 4px;
     border-radius: 8px;
     gap: 4px;
     display: flex;
     flex-wrap: wrap;
}

.blocks .block {
     display: flex;
     flex: 1;
     border-radius: 4px;
     background: var(--primary);
     width: 75px;
     height: 75px;
     animation: blockLoading 1s infinite;
}

.blocks .block:nth-child(1) {
     animation-delay: 0ms;
}

.blocks .block:nth-child(2) {
     animation-delay: 200ms;
}

.blocks .block:nth-child(3) {
     animation-delay: 400ms;
}

.blocks .block:nth-child(4) {
     animation-delay: 600ms;
}

@keyframes blockLoading {

     0%,
     100% {
          flex: 1;
     }

     50% {
          flex: 4;
     }
}