.workspace-topbar {
     padding: 10px 40px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
     position: absolute;
     top: 5px;
     left: 36%;
     z-index: 20;
     border-radius: 12px;
     background: #f3f4f685;
     backdrop-filter: blur(20px);
     transition: all 0.3s ease-in-out;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.workspace-topbar-screen-btn:hover {
     color: var(--primary);
}

.workspace-topbar-screen-btn:active {
     transform: scale(0.95);
}

.workspace-topbar-btns,
.workspace-topbar-screens {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 20px;
}

.workspace-topbar-screens {
     background-color: #F3F4F6;
     padding: 10px;
     border-radius: 8px;
     box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.06);
}


/* Separator */
.divider-line {
     width: 1px;
     height: 20px;
     background-color: #ccc;
}