.template-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #FEF2F2;
    padding: 40px 0px;
}
.template-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    box-sizing: border-box;
    padding-bottom: 50px;
    width: 100%;
}

.search-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    width: 100%;
}

.search-bar h1 {
    color: var(--primary);
}

@media (max-width: 1100px) {
    .template-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 24px 8%;
    }
}

@media (max-width: 700px) {
    .template-container {
        grid-template-columns: 1fr;
        padding: 16px 5%;
    }

    .search-bar{
        flex-direction: column;
    }

    .heading{
        margin-bottom: 2%;
    }
}