.template-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  max-width: 450px;
  width: 100%;
}

.template-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.image-part {
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.template-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.template-card:hover .template-img {
  transform: scale(1.08);
}

.template-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.content-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.template-heading {
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.template-card:hover .template-heading {
  color: var(--primary);
}

.template-description {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 1.5;
}

.button-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.button-part button {
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn-view {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 25px;
  background: rgba(255, 0, 80, 0.08);
  color: var(--primary);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-view:hover {
  background-color: var(--red-100);
  transform: translateY(-3px);
}

.btn-open {
  background: linear-gradient(135deg, var(--primary), var(--primary-hover));
  color: white;
  box-shadow: var(--btn-shadow-hover);
}

.btn-open:hover {
  background-color: var(--primary-hover);
  transform: translateY(-3px);
}