.template-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 24px 14%;
    background-color: #FEF2F2;
    gap: 24px;
    box-sizing: border-box;
    align-items: start;
}

@media (max-width: 1100px) {
    .template-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 24px 8%;
    }
}

@media (max-width: 700px) {
    .template-container{
        grid-template-columns: 1fr;
        padding: 16px 5%;
    }
}
