.canvas-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: #E9EBEE;
     height: 85vh;
     width: 40%;
     margin-top: 40px;
     border: 2px solid red;
}
.canvas {
     background-color: white;
     border-radius: 12px;
     height: 400px;
     width: 400px;
}