.work-canvas-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: #F3F4F6;
     background-image: linear-gradient(to right, #e8e7e7 1px, transparent 1px), linear-gradient(to bottom, #e8e7e7 1px, transparent 1px);
     background-size: 20px 20px;
     height: 100%;
     width: 65%;
     padding: 50px;
     overflow: scroll;
     position: relative;
}
.canvas-drop-zone {
     background-color: white;
     border-radius: 12px;
     min-height: 100%;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}



/* Component Style */
.test-component:hover {
     border: 2px solid var(--red-300);
}

.component-drag {
     position: absolute;
     top: 5px;
     right: 10px;
     cursor:move;
}
.component-drag:active {
     cursor: grabbing;
}


/* In work-canvas.css */
.drop-zone-between {
  transition: all 0.2s ease;
  border-radius: 4px;
}

.drop-zone-between:hover {
  border-color: #ccc;
}