.work-canvas-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: #F3F4F6;
     background-image: linear-gradient(to right, #e8e7e7 1px, transparent 1px), linear-gradient(to bottom, #e8e7e7 1px, transparent 1px);
     background-size: 20px 20px;
     height: 100%;
     width: 65%;
     padding: 50px;
     overflow: scroll;
     position: relative;
}
.canvas-drop-zone {
     background-color: white;
     border-radius: 12px;
     min-height: 100%;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}



/* Component Style */
.test-component:hover {
     border: 2px dashed deepskyblue;
}

/* 
.layout-container, .layout-row, .layout-column {
     background-color: #F3F4F6;
     border: 2px dashed #c6c6c6;
     border-radius: 12px;
     padding: 20px;
} */