.link-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 50%;
     left: 50%;
     background-color: white;
     padding: 20px;
     border-radius: 12px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}