.left-panel {
  position: relative;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 16px;
  /* overflow-y: auto; */
  flex-shrink: 0;
  width: 16%;
  transition: all 0.07s ease-in-out;
}


/* Tabs */
.panel-tabs {
  display: flex;
  border-bottom: 1px solid #eee;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  font-weight: 600;
  color: #9ca3af;
  cursor: pointer;
}

.tab.active {
  color: #ef4444;
  border-bottom: 2px solid #ef4444;
}

/* Title */
.panel-title {
  margin: 16px 0 8px;
}

/* Search */
.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  color: #9ca3af;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

/* Sections */
.section-heading {
  margin: 16px 0 8px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #9ca3af;
  font-weight: 700;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 14px;
  text-align: center;
}

.grid-item span {
  display: block;
  margin-top: 6px;
  font-size: 13px;
}

.icon-box {
  padding: 10px;
  border-radius: 8px;
  background: #f3f4f6;
}
.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 50;
  touch-action: none;
  user-select: none;
}

.resize-handle:hover {
  background: #ef4444;
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.add-component-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: red;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}